.title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}
.description {
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
}

.logo {
  height: 1em;
}

.homeMap {
  margin-top: 1rem;
  width: 55rem;
  height: 88vh;
  z-index: 0;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
